<div id="friends-header">
  <div id="heading-name">
    <h1 class="heading-name">My Friends</h1>
  </div>
</div>
<div class="col-md-4 pull-right">
  <br><br>
  <%= link_to "Add Friends", new_friend_path, class: "btn btn-default" %>
</div>
<% if @friends.empty? %>
  <h4>Your friend list is empty!</h4>
<% else %>
  <table class="table table-hover generic-table">
    <thead>
      <th>Name</th>
      <th>Phone Number</th>
      <th></th>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.name %></td>
          <td><%= friend.phone_number %></td>

          <td><%= link_to "Edit", edit_friend_path(friend), class: "btn btn-default" %></td>
          <td><%= link_to "Delete", friend_path(friend), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
