<div class="heading_name">
  <h1 class = "heading-name">My Plans</h1>
  <div class="col-md-0 pull-right top-button">
    <%= link_to "Create Plan", new_invitation_path, class: "btn btn-default" %>
  </div>
</div>
<% if @invitations.nil? || @invitations.empty? %>
  <h3>You have not created any plans yet!</h3>
<% else %>
  <table class="table table-hover generic-table">
    <thead>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
      <% @invitations.each do |invitation| %>
        <tr>
          <td><%= invitation.name %></td>
          <td><%= invitation.status %></td>

          <td><%= link_to "Edit", edit_invitation_path(invitation), class: "btn btn-default" %></td>
          <td><%= link_to "Delete", invitation_path(invitation), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
