<div class="col-md-4 pull-right">
  <br><br>
  <%= link_to "Create Plan", new_plan_path, class: "btn btn-default" %>
</div>
<% if @plans.empty? %>
  <h4>You have not created any plans yet!</h4>
<% else %>
  <table class="table table-hover generic-table">
    <thead>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= label_tag plan.id, plan.name %></td>
          <td><%= plan.status %></td>

          <td><%= link_to "Finalize", edit_plan_path(plan), class: "btn btn-default" %></td>
          <td><%= link_to "Delete", plan_path(plan), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
