<% @categories.each do |category| %>
<section>
  <div class="sub-heading-name"><%= category.name %></div>
  <% if category.name == "Restaurants" %>
    <% category.places.each do |place| %>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <%= render partial: "shared/cart_items", locals: { place: place } %>
          <div class="panel-body"><img src="/assets/restaurant.jpg" class="img-responsive"></div>
          <div class="panel-footer"><%= place.address %></div>
        </div>
      </div>
    <% end %>
  <% elsif category.name == "Parks" %>
    <% category.places.each do |place| %>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <%= render partial: "shared/cart_items", locals: { place: place } %>
          <div class="panel-body"><img src="/assets/greenpark1.jpg" class="img-responsive"></div>
          <div class="panel-footer"><%= place.address %></div>
        </div>
      </div>
    <% end %>
  <% else %>
    <% category.places.each do |place| %>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <%= render partial: "shared/cart_items", locals: { place: place } %>
          <div class="panel-body"><img src="/assets/bellydance.jpg" class="img-responsive"></div>
          <div class="panel-footer"><%= place.address %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
<% end %>
