<div>
  <%= menu_group do %>
    <%= drop_down "Search by" do %>
      <%= menu_item "Restaurants", place_path(1) %>
      <%= menu_item "Parks", place_path(2) %>
      <%= menu_item "Events", place_path(3) %>

      <% if current_user %>
        <%= menu_item "Your places", places_path(4)  %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% @categories.each do |category| %>
<section>
  <div class="category-name"><%= category.name %></div>
  <% if category.name == "Restaurants" %>
    <% category.places.each do |place| %>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3><%= place.name %></h3></div>
          <div class="panel-body"><img src="/assets/restaurant.jpg" class="img-responsive"></div>
          <div class="panel-footer"><%= place.address %></div>
        </div>
      </div>
    <% end %>
  <% elsif category.name == "Parks" %>
    <% category.places.each do |place| %>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3><%= place.name %></h3></div>
          <div class="panel-body"><img src="/assets/greenpark1.jpg" class="img-responsive"></div>
          <div class="panel-footer"><%= place.address %></div>
        </div>
      </div>
    <% end %>
  <% else %>
    <% category.places.each do |place| %>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3><%= place.name %></h3></div>
          <div class="panel-body"><img src="/assets/bellydance.jpg" class="img-responsive"></div>
          <div class="panel-footer"><%= place.address %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
<% end %>
