<!DOCTYPE html>
<html>
<head>
  <title>Rendevu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "shared/nav_bar" %>

  <div id="errors">
    <% flash.each do |name, message| %>
      <div class="<%= bootstrap_class_for(name) %>">
        <p><%= (message).html_safe %></p>
      </div>
    <% end %>
  </div>

  <%= yield %>

  <%= render partial: "shared/footer" %>

</body>
</html>
